@{
    ViewBag.Title = "Bem Vindo!";
}

<!----banner---->
<div class="banner text-center">
    <div class="container">
        <div class="banner-info">
            <h1><span>Inteligência</span> e Gestão em Varejo</h1>
            <p>O Caminho certo para a solução de problemas que influenciam diretamente nos resultados.</p>
            
        </div>
    </div>
</div>
<!--//banner---->
